development:
  sessions:
    default:
      database: musicum_development
      hosts:
          - localhost:27017
test:
  sessions:
    default:
      database: musicum_test
      hosts:
          - localhost:27017
