.perform-desc 
  :font-size 1.5em
  :font-weight strong
.event-container
  :margin 20px
.event-desc
  :display inline-block
  :margin 15px
  :font-family Georgia,"Times New Roman",Times,serif !important
  :width 540px
  h2
    :font-size 18px
    :color #AAA
.hall-avatar
  :display inline-block
  :width 300px
h1
  :font-size 3em
  :letter-spacing -2px
  :margin-bottom 30px
  :text-align center
p
  :font-size 1.1em
  :line-height 1.7em
html
  :overflow-y scroll
body
  :padding-top 60px
